TZ=Europe/Paris
RUSTDESK_API_LANG=fr
RUSTDESK_API_APP_WEB_CLIENT=1
RUSTDESK_API_APP_REGISTER=false
RUSTDESK_API_APP_REGISTER_STATUS=1
RUSTDESK_API_APP_SHOW_SWAGGER=0
RUSTDESK_API_APP_TOKEN_EXPIRE=168h
RUSTDESK_API_APP_DISABLE_PWD_LOGIN=false
RUSTDESK_API_APP_CAPTCHA_THRESHOLD=3
RUSTDESK_API_APP_BAN_THRESHOLD=0
RUSTDESK_API_GORM_TYPE=sqlite
RUSTDESK_API_GORM_MAX_IDLE_CONNS=10
RUSTDESK_API_GORM_MAX_OPEN_CONNS=100
RUSTDESK_API_RUSTDESK_PERSONAL=1
RUSTDESK_API_RUSTDESK_ID_SERVER=192.168.1.66:21116
RUSTDESK_API_RUSTDESK_RELAY_SERVER=192.168.1.66:21117
RUSTDESK_API_RUSTDESK_API_SERVER=http://127.0.0.1:21114
RUSTDESK_API_RUSTDESK_KEY=
RUSTDESK_API_RUSTDESK_KEY_FILE=/app/conf/data/id_ed25519.pub
RUSTDESK_API_RUSTDESK_WS_HOST=
RUSTDESK_API_PROXY_ENABLE=false
RUSTDESK_API_PROXY_HOST=http://127.0.0.1:1080
RUSTDESK_API_JWT_KEY=
RUSTDESK_API_JWT_EXPIRE_DURATION=168h
